{
  "root": true,
  // "parserOptions": {},
  // "plugins": ["prettier"],
  "extends": ["react-ts-c"]
  // "extends": ["alloy", "alloy/react", "alloy/typescript"],
  // "env": {
  // 	// Your environments (which contains several predefined global variables)
  // 	//
  // 	"browser": true,
  // 	"node": true,
  // 	"es6": true
  // 	// mocha: true,
  // 	// jest: true,
  // 	// jquery: true
  // },
  // "globals": {
  // 	// 直接使用某些全局变量，因为全局变量没有该属性，所以eslint会报错
  // 	// Your global variables (setting to false means it"s not allowed to be reassigned)
  // 	//
  // 	// myGlobal: false
  // },
  // "settings": {
  // "react": {
  //   "version": "detect" // React version. "detect" automatically picks the version you have installed.
  // }
  // },
  // "rules": {
  // 	// Customize your rules
  // 	"@typescript-eslint/explicit-member-accessibility": "off",
  // 	"semi": "warn",
  // 	"no-useless-call": "warn",
  // 	"react/jsx-no-useless-fragment": "off",
  // 	"no-console": "error"
  // }
}
