.nav-wrapper__menu {
  position: absolute;
  top: 32px;
  left: 5px;
  z-index: 999;
  user-select: none;
  cursor: pointer;
}
.nav-wrapper__drawer {
  :global {
    .t-drawer__body {
      padding: 0;
    }
  }
}
