.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.nav {
  width: 160px;
  background: #2b0e38;
  height: 100%;
}
.logo {
  height: 42px;
  padding: 10px 0;
  background: linear-gradient(217deg, rgba(255, 0, 0, 1), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(30, 255, 0, 1), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,1), rgba(0,0,255,0) 40%);
  color: #fff;
  font-size: 22px;
  line-height: 42px;
  text-align: center;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content {
  flex: 1;
  background: #f3f3f3;
}
ul {
  height: calc(100% - 62px);
  overflow-x: hidden;
  overflow-y: scroll;
}

ul::-webkit-scrollbar {
  display: none;
}
li {
  width: 100%;
  text-align: center;
  height: 46px;
  line-height: 46px;
  background: #250a35;
  color: #f3f3f3;
}
li > a {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
}

.active {
  background: #f3f3f3;
  color: #250a35;
}
